ion-header {
    border: 0px;
    display: flex;
    height: 72px;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-radius: 16px;
    background: #AB95F9;
    font-family: Nunito;

    ion-toolbar {
        --background: #AB95F9;
        display: flex;
        align-items: flex-center;
        flex: 1 0 0;

        .logo {
            width: 63px;
            height: 27px;
        }
    }

}