<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo" routerLink="/"><svg xmlns="http://www.w3.org/2000/svg" width="63" height="28" viewBox="0 0 63 28"
        fill="none">
        <path d="M0.564453 21.5H13.2485V17.944H5.10045V1.47998H0.564453V21.5Z" fill="white" />
        <path
          d="M21.5869 18.728C19.2909 18.728 18.0029 17.048 18.0029 14.248V14.024C18.0029 11.224 19.3469 9.60002 21.5869 9.60002C23.8549 9.60002 25.1709 11.28 25.1709 14.08V14.276C25.1709 17.048 23.8549 18.728 21.5869 18.728ZM21.5589 21.808C25.9549 21.808 29.2869 18.868 29.2869 14.248V14.024C29.2869 9.46002 25.9829 6.52002 21.5869 6.52002C17.1909 6.52002 13.8589 9.51602 13.8589 14.108V14.332C13.8589 18.896 17.1909 21.808 21.5589 21.808Z"
          fill="white" />
        <path
          d="M37.665 26.904C42.481 26.904 45.3649 24.692 45.3929 20.352V6.85602H41.361V9.04002C40.521 7.55602 39.0929 6.52002 36.7129 6.52002C33.0729 6.52002 30.2729 9.46002 30.2729 13.66V13.856C30.2729 18.196 33.1009 20.856 36.6569 20.856C38.8129 20.856 40.549 19.568 41.361 18.14V20.352C41.361 22.648 40.129 23.936 37.665 23.936C35.593 23.936 34.669 23.096 34.417 21.808H30.3849C30.7769 24.832 32.933 26.904 37.665 26.904ZM37.861 17.804C35.845 17.804 34.417 16.292 34.417 13.856V13.632C34.417 11.224 35.677 9.60002 37.945 9.60002C40.1569 9.60002 41.4729 11.112 41.4729 13.604V13.8C41.4729 16.292 39.989 17.804 37.861 17.804Z"
          fill="white" />
        <path
          d="M54.9619 18.728C52.6659 18.728 51.3779 17.048 51.3779 14.248V14.024C51.3779 11.224 52.7219 9.60002 54.9619 9.60002C57.2299 9.60002 58.5459 11.28 58.5459 14.08V14.276C58.5459 17.048 57.2299 18.728 54.9619 18.728ZM54.9339 21.808C59.3299 21.808 62.6619 18.868 62.6619 14.248V14.024C62.6619 9.46002 59.3579 6.52002 54.9619 6.52002C50.5659 6.52002 47.2339 9.51602 47.2339 14.108V14.332C47.2339 18.896 50.5659 21.808 54.9339 21.808Z"
          fill="white" />
      </svg></div>
  </ion-toolbar>
</ion-header>