ion-padding {
  padding: 0px;
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  text-align: center;
  display: flex;

  .banner {
    background-color: #AB95F9;
    padding: 98px 16px 16px 16px;

    .heading {
      color: #FFF;
      text-align: center;
      text-shadow: 2px 2px 0px #896AF9;
      font-family: Nunito;
      font-size: 56px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      /* 67.2px */
    }

    .description {
      color: #FFF;
      text-align: center;
      font-family: Nunito;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      /* 30px */
    }

    .banner-img {
      display: flex;
      border-radius: 12;
      justify-content: center;


      @media (min-width: 420px) {
        .img {
          width: 420px;
          height: 280px;
        }
      }

      @media (min-width: 720px) {
        .img {
          width: 720px;
          height: 488px;
        }
      }

      .img {
        background-color: #FFF !important;
        text-align: center;
        background-size: cover !important;
        border-radius: 42px;
        box-shadow: 1px 1px 1px 1px grey;
        background: url(https://s3-alpha-sig.figma.com/img/6c32/4da9/51c1e1c96254f4e789dfdd522c830213?Expires=1698019200&Signature=e2tlliXjHcFR4k5fnsEyRmUux9xBLlLZQOOqSt6tF5L-zx2KDf0BKTbiIMiCGyIWEN4ZSQDp7IQn2RpYGF1CSo~Q-no4wLrjIrZra~vvtmGqNLewsYX2I9IezoFBHFSz3gHoRcF7iT2lA9n6nREMTPCARba-QFzso9A8R6dNLTI3MMzvJ1zJdERHTyOA65l09-XLvdUTxck~Eq2rEVmASXnCy0sdfCQFVU933TWpLon9XUD7g~nuCfd-RwKplXnp4CHomhLqvOLiqmtF~zR8Gs7uutw24E2Lrf~3Qb~Vh2peE7x-P2xNj-x2tYfP17ET91IlYGr2b5IduTmdA6h5Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4), lightgray -13.466px 0.801px / 102.207% 100% no-repeat;

      }
    }
  }

  .list {
    background-color: #FFF9E6;
    padding: 16px;

    @media (min-width: 100px) {
      .list-heading {
        padding: 20px 40px;
      }
    }

    @media (min-width: 1220px) {
      .list-heading {
        padding: 20px 400px;
      }
    }

    .list-h1 {
      color: var(--Black, #000);
      text-align: center;
      font-family: Nunito;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      /* 57.6px */
    }

    .list-p {
      color: var(--Black, #000);
      text-align: center;
      font-family: Nunito;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      /* 36px */
    }

    .list-img {
      margin: auto;
    }
  }
}

.gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32px;
  align-self: stretch;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  .button {
    display: flex;
    margin: 10px 24px;
    padding: 0px 24px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #896AF9;
    background: var(--White, #FFF);
    box-shadow: 4px 4px 0px -1px #896AF9;

    .button-text {
      color: #896AF9;
      text-align: center;
      font-family: Nunito;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: 12px;
      /* 140% */
    }
  }
}

ion-row {
  margin: 10px auto;
  color: #000;
}