<ion-content class="ion-text-center">
  <div class="banner">
    <h1 class="heading">Discover the magic of our surprise box</h1>
    <h3 class="description">Unleash your child's curiosity with our educational subscription box filled
      with fun and
      learning.</h3>
    <div class="gap"></div>
    <div class="button-wrapper">

      <div class="button" routerLink="/subscriptions">
        <p class="button-text">Subscribe Now</p>
      </div>
    </div>
    <div class="gap"></div>
    <div class="banner-img">
      <div class="img"></div>
    </div>
    <div class="gap"></div>
    <div class="gap"></div>

  </div>
  <div class="list bg-img">
    <div class="gap"></div>
    <div class="list-heading">
      <p>Discover</p>
      <h1 class="list-h1">How It Works: Subscribe and Receive Your Surprise Box</h1>
      <p class="list-p">Subscribe to our surprise subscription box and give your child the gift of learning. Each month,
        we curate a
        box
        filled with educational materials tailored to your child's age and interests.</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
          <ion-avatar class="list-img">
            <img
              src="https://s3-alpha-sig.figma.com/img/6c32/4da9/51c1e1c96254f4e789dfdd522c830213?Expires=1698019200&Signature=e2tlliXjHcFR4k5fnsEyRmUux9xBLlLZQOOqSt6tF5L-zx2KDf0BKTbiIMiCGyIWEN4ZSQDp7IQn2RpYGF1CSo~Q-no4wLrjIrZra~vvtmGqNLewsYX2I9IezoFBHFSz3gHoRcF7iT2lA9n6nREMTPCARba-QFzso9A8R6dNLTI3MMzvJ1zJdERHTyOA65l09-XLvdUTxck~Eq2rEVmASXnCy0sdfCQFVU933TWpLon9XUD7g~nuCfd-RwKplXnp4CHomhLqvOLiqmtF~zR8Gs7uutw24E2Lrf~3Qb~Vh2peE7x-P2xNj-x2tYfP17ET91IlYGr2b5IduTmdA6h5Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
          </ion-avatar>
          <h6>Step 1: </h6>
          <h4>Subscribe</h4>
          <p>Select a subscription plan that suits your child's learning needs and preferences.</p>
        </ion-col>
        <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
          <ion-avatar class="list-img">
            <img
              src="https://s3-alpha-sig.figma.com/img/6c32/4da9/51c1e1c96254f4e789dfdd522c830213?Expires=1698019200&Signature=e2tlliXjHcFR4k5fnsEyRmUux9xBLlLZQOOqSt6tF5L-zx2KDf0BKTbiIMiCGyIWEN4ZSQDp7IQn2RpYGF1CSo~Q-no4wLrjIrZra~vvtmGqNLewsYX2I9IezoFBHFSz3gHoRcF7iT2lA9n6nREMTPCARba-QFzso9A8R6dNLTI3MMzvJ1zJdERHTyOA65l09-XLvdUTxck~Eq2rEVmASXnCy0sdfCQFVU933TWpLon9XUD7g~nuCfd-RwKplXnp4CHomhLqvOLiqmtF~zR8Gs7uutw24E2Lrf~3Qb~Vh2peE7x-P2xNj-x2tYfP17ET91IlYGr2b5IduTmdA6h5Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
          </ion-avatar>
          <h6>Step 2: </h6>
          <h4>Personalise Your Box</h4>
          <p>Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box
            accordingly.</p>
        </ion-col>
        <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
          <ion-avatar class="list-img">
            <img
              src="https://s3-alpha-sig.figma.com/img/6c32/4da9/51c1e1c96254f4e789dfdd522c830213?Expires=1698019200&Signature=e2tlliXjHcFR4k5fnsEyRmUux9xBLlLZQOOqSt6tF5L-zx2KDf0BKTbiIMiCGyIWEN4ZSQDp7IQn2RpYGF1CSo~Q-no4wLrjIrZra~vvtmGqNLewsYX2I9IezoFBHFSz3gHoRcF7iT2lA9n6nREMTPCARba-QFzso9A8R6dNLTI3MMzvJ1zJdERHTyOA65l09-XLvdUTxck~Eq2rEVmASXnCy0sdfCQFVU933TWpLon9XUD7g~nuCfd-RwKplXnp4CHomhLqvOLiqmtF~zR8Gs7uutw24E2Lrf~3Qb~Vh2peE7x-P2xNj-x2tYfP17ET91IlYGr2b5IduTmdA6h5Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
          </ion-avatar>
          <h6>Step 2: </h6>
          <h4>Personalise Your Box</h4>
          <p>Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box
            accordingly.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="gap"></div>
    <div class="button-wrapper">
      <div class="button" routerLink="/subscriptions">
        <p class="button-text">Subscribe Now</p>
      </div>
    </div>
    <div class="gap"></div>
  </div>
  <app-footer></app-footer>
</ion-content>