<ion-content class="ion-text-center">
  <div class="container ion-padding  bg-img">
    <div class="form-box">
      <ion-grid class="input ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="left" size="8" size-md="8" size-sm="12" size-xs="12">
            <h4>Subscribe</h4>
            <ion-label>to our Monthly Surprise Box</ion-label>
            <hr>
            <h6>Contact Information</h6>
            <ion-label>Your Name</ion-label>
            <ion-input class="input" fill="outline" placeholder="e.g Osama Alshathri"></ion-input>
            <ion-label>Email</ion-label>
            <ion-input class="input" fill="outline" placeholder="Osama@gmail.com"></ion-input>
            <h6>Child’s Information</h6>
            <ion-label>Child’s Full Name</ion-label>
            <ion-input class="input" fill="outline" placeholder="e.g Sarah Mohammad"></ion-input>
            <ion-label>Child’s Date of Birth</ion-label>
            <ion-grid class="input">
              <ion-row>
                <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
                  <ion-select placeholder="Date" fill="outline">
                    <ion-select-option value="select">Select</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
                  <ion-select placeholder="Month" fill="outline">
                    <ion-select-option value="select">Select</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="4" size-md="4" size-sm="12" size-xs="12">
                  <ion-select placeholder="Year" fill="outline">
                    <ion-select-option value="select">Select</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-label>Grade</ion-label>
            <ion-select class="input" placeholder="Favorite Frui" fill="outline">
              <ion-select-option value="select">Select</ion-select-option>
            </ion-select>
            <ion-label>Gender</ion-label>
            <ion-grid class="input">
              <ion-row>
                <ion-col>
                  <ion-radio value="Male" fill="outline" size="6">Male
                  </ion-radio>
                </ion-col>
                <ion-col>
                  <ion-radio class="ion-margin-left" value="Female" fill="outline" size="6">Female
                  </ion-radio>
                </ion-col>
              </ion-row>
            </ion-grid>
            <h6>As a parent select any 3 topics</h6>
            <ion-grid float-left>
              <ion-row>
                <ion-chip color="medium">Arabic</ion-chip>
                <ion-chip color="medium">Islamic</ion-chip>
                <ion-chip color="medium">Arabic</ion-chip>
                <ion-chip color="medium">English</ion-chip>
                <ion-chip color="medium">History</ion-chip>
                <ion-chip color="tertiary">Sports</ion-chip>
              </ion-row>
            </ion-grid>
            <div class="button-wrapper">
              <div class="button" routerLink="/">
                <p class="button-text">Continue to payment</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="right" size="4" size-md="4" size-sm="12" size-xs="12">
            <h4>Summary</h4>
            <ion-label>of your Monthly Surprise Box</ion-label>
            <div class="checkout-items">
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  <ion-label>
                    <b>Mystery Box</b>
                  </ion-label>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <b>SAR 456</b>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  <ion-label>
                    <p class="ion-1x">X1</p>
                  </ion-label>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <p class="ion-1x">Monthly</p>
                </ion-col>
              </ion-row>
            </div>
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label>
                  <p>Subtotal</p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <p class="ion-1x">SAR 456</p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label>
                  <p>Shipping</p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <p class="ion-1x">Free</p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label>
                  <p>Taxes</p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <p class="ion-1x">SAR 4.0</p>
              </ion-col>
            </ion-row>
            <hr />
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label>
                  <b>Total</b>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <b>SAR 460</b>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <ion-label>
                  <p class="ion-1x"></p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <p class="ion-1x">Monthly</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>