ion-padding {
  padding: 0px;
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  text-align: start;
  display: flex;
  background-color: #fff;


  .container {

    .form-box {
      background-color: #fff;

      @media (min-width: 420px) {
        .left {
          padding: 42px;

        }

        margin: 12px;
        margin-top: 98px;
      }

      @media (min-width: 720px) {
        .left {
          padding: 24px 128px;
        }

        margin: 128px;
      }


      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      text-align: start;
      display: flex;
      // padding: 24px;
      border-radius: 16px;
      box-shadow: 2px 2px 2px 2px rgb(215, 203, 203);
    }
  }
}

.input {
  margin: 12px 0px;
}


.right {
  background-color: #F1EDFE;
  padding: 24px;
  border-radius: 16px;
}

.ion-1x {
  font-size: 12px !important;
}

.checkout-items {
  border-radius: 8px;
  margin-top: 20px;
  padding: 18px;
  background-color: #fff;
}