<div class="footer">
  <ion-grid>
    <ion-row>
      <ion-row>
        <a href="" class="ion-padding">Privacy Policy</a>
        <a href="" class="ion-padding">Terms of Service</a>
        <a href="" class="ion-padding">Cookies Settings</a>
      </ion-row>
      <ion-row>
        <a href="" class="ion-padding">© 2023 MyEdu. All rights reserved.</a>
      </ion-row>
    </ion-row>
  </ion-grid>
  <div class="gap"></div>
</div>